.navbarg{
  z-index: 20;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 25px;
  font-family: "Courier New" ;
  font-weight: bold;

  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top:0;
  padding:1%;
  width: 98%;
  margin-left: -0.65%;

}
.navbarg a{
  display: block;
  padding: 0.5% 1% 0% 1%;
  color: white;
  padding: 0.5% 1% 0.5% 1%;
  border-radius: 20px;
}

.navbarg a:link{
  text-decoration: none;
}

.navbarg a:hover{
  color: rgba(0, 0, 0, 0.8);
  background-color: white;
}






.projects {
  text-align: center;
  font-size: 150%;
  margin: 5%;
  padding: 1%;
}
.escape_circles{
  font-size: 150%;
  position: relative;
  text-align: center;
  margin: 5%;
  padding:4.6%;
}

.esclg img{
   width: 30%;
   float:left;
   margin: 2%;
   padding-right: 5%;
   padding-left: 5%;

}
.screenshots{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:  5%;
}
.screenshots img{
  width: 20%;
  padding:0.5%;
}

.screenshots img:hover{
  width: 25%;
  padding:0.5%;
}

.bandh img{
  width: 29%;
  float:right;
  margin: 2%;
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 20px;
}


body {
  background-image: url("ambouba.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #a9c6ce;
  position:relative;
  font-family: "Trebuchet MS" ;
}

.windimg{
  text-align: center;
  font-size: 150%;
  padding:0% 5% 0% 5%;
}
.windimg img {
  width:70%;
  padding:5%;
}
.windimg img:hover{
  width:90%;
  padding:2%;
}
